body.ru {
    margin-top: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

span {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

span.highlight {
    background-color: #333;
    color: white;
    font-size: 25px;
}

/* table {
    width: 50px;
    margin: auto
} */

#t01 {

}

#t02 {
    
}